@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    width:100%;
}
body{
    background:#F3F1FF;
}
.container{
    max-width:1080px !important;
}
.header-navbar{
    background:#562EFF !important;
}
.nav-logo{
    width:50px;
}
.menu-list li{
    line-height:50px;
}



/* top section start */
.section-bg{
    background:#fff;
    border-radius:10px;
    padding:20px 40px;
    margin:20px 0;
}
.section-heading h2{
    color:#562EFF;
    font-size:24px;
    margin-left:15px;
}
.player-section{
    border-bottom:2px solid #c4c4c4;
}
.player{
    display:flex;
    margin:20px 0;
}
.player-img{
    width:80px;
    margin-right:15px;
}
.player-name h4{
    line-height:80px;
    font-size:20px;
}


/* blog section start */
.blog-heading{
    margin-top:20px;
}
.blog-item{
    display:flex;
    margin:20px 10px;
}

.blog-text p span{
    color:#562EFF
}


/* latest course section */
.course-heading{
    margin:20px 0;
}
.course-item{
    padding:20px;
    box-shadow:0 0 15px #f3f3f3;
    border-radius:20px;
    margin:20px;
}
.course-details{
    margin-top:15px;
}
.course-details h4{
    font-size:22px;
    font-weight:500;
}
.course-details p{
    color:red;
}
.checked{
    color:orange;
}
.rat-duration{
    justify-content: space-between;
}
.rating{
    line-height:30px;
}
.duration{
    width:120px;
    height:35px;
    display:flex;
    background:#FFE4E8;
    border-radius:30px;
    padding:5px 5px;
    padding-right:10px;
    justify-content: space-between;
    line-height:25px;
}
.duration img{
    width:25px;
}
.duration span{
    color:red;
}